/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* PAGE BACKGROUND */
body {
    background: #f4f6f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* CARD */
.container {
    width: 100%;
    max-width: 380px;
}

.login-box {
    background: #fff;
    padding: 30px 35px;
    border-radius: 12px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.15);
}

/* TITLE */
.login-box h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 26px;
}

/* INPUTS */
.input-group {
    margin-bottom: 15px;
}

.input-group label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

.input-group input {
    width: 100%;
    padding: 10px 12px;
    border-radius: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    outline: none;
}

.input-group input:focus {
    border-color: #0474fe;
}

/* BUTTON */
.btn {
    width: 100%;
    background: #0474fe;
    border: none;
    color: white;
    padding: 10px;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 8px;
}

.btn:hover {
    background: #035ed3;
}

/* REGISTER LINK */
.register-text {
    text-align: center;
    margin-top: 15px;
    font-size: 13px;
}

.register-text a {
    color: #0474fe;
    text-decoration: none;
}

.register-text a:hover {
    text-decoration: underline;
}
